.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "left right";
  border: 1px solid #0e0101; /* just for visibility */
  padding: var(--padding-md);
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.grid img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.post-title {
  font-size: var(--font-h1);
}

.post-body {
  font-size: var(--font-body);
}