<div class="grid">
  <div class="left" *ngIf="entry$ | async as entry"><app-blog-entry [blogEntryId] = "entry.postId"></app-blog-entry></div>
  <ng-container *ngIf="previews$ | async as previews">
  <div class="top-right" *ngIf="previews[0]"><app-blog-entry-preview [blogEntryId] = "previews[0].postId"></app-blog-entry-preview></div>
  <div class="bottom-right" *ngIf="previews[1]"><app-blog-entry-preview [blogEntryId] = "previews[1].postId"></app-blog-entry-preview></div>
  </ng-container>
</div>

